body{
	background: #1f1f1f;
	padding: 10px;
}

.carousel{
	position:absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 0px;
}
.carousel img{
	width:1280px;
	height: 528px;
	display: block;
}
.prev{
	left:-40px;
	position: absolute;
	top: 50%;
	font-size: 40px;
	background: none;
	border: none;
	outline: none;
	color: #ffffff;
	transition: transform 0.5s,color 0.2s;
	cursor: pointer;
}
.next{
	right:-40px;
	position: absolute;
	top: 50%;
	font-size: 40px;
	background: none;
	border: none;
	outline: none;
	color: #ffffff;
	transition: transform 0.5s,color 0.2s;
	cursor: pointer;
}
.prev:active{
	color:aqua;
}
.next:active{
	color: aqua;
}
.gallery{
	width:1280px;
	height: 529px;
	overflow: hidden;
}
.gallery ul{
	height: 130px;
	width:9999px;
	margin: 0;
	padding: 0;
	list-style: none;
	transition:margin-left 500ms;
}
.gallary li{
	display: inline-block;
}
.gallery img:first-child{
	display: block;
}